.modal {
    height: 25vh;
    width: 30vw;
    background-color: rgb(148, 153, 159, 0.7);
    z-index: 1;
    position: fixed;
    overflow: auto;
    width: 40%;
    height: 50%;
    overflow: auto;
    left: 30%;
    top: 25%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.modal-content {
    margin: auto;
    color: black;
    text-align: center;
    margin-top: 1vh;
    overflow-y: auto;
}