.operations{
    text-align: center;
}
/* OperationsPage.css */
h2{
    color: orange;
    font-style: normal;
}
.operations-page {
    margin: 20px;
  }
  
  .transactions {
    /* background-color: #f9f9f9; */
    padding: 20px;
    border-radius: 5px;

  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: orange;
  }
  
  input[type="text1"],
  input[type="number"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.Withdraw{
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: red;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
  }
.Deposit{
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: green;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-group button:last-child {
    margin-right: 0;
  }
  
  .button-group button:hover {
    background-color: #000000;
  }
  /* .date{
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border: "1px solid #ccc";
    margin-inline: auto;
    
  } */
  /* .MuiInputBase-input .MuiOutlinedInput-input .MuiInputBase-inputAdornedEnd .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px 50px 10px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border: "1px solid #ccc";
    margin-inline: auto;
  } */
/* .MuiInputBase-root {
    width: 31vw;
    
    
}  */
/* .MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-colorPrimary .MuiInputBase-formControl .MuiInputBase-adornedEnd .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  width: 31vw;
  background-color: whitesmoke;
  padding: 50px;
} */
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  width: 80%;
  background-color: whitesmoke;
 
}
input[type="text"]{
  width: 30%;
  padding: 10px 70px 10px 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
